<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="UTF-8">
    </head>

    <body>
    <div id="discuss-dialog-template" style="display: none">
            <div class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>קריאת דיון</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <a class="btn close-button">סגור</a>
                    <a class="btn btn-primary save-button">צור דיון</a>
                </div>
            </div>
        </div>
    </body>
</html>


